@keyframes spinAnimation {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    } 
}

.spinner {
    width: 40px;
    height: 40px;
    transform-origin: center;
    animation: spinAnimation 2s linear infinite;
}